* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;

}

/* ===============
    Typography    
    ============== */
/* Hero */
.main-title {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 3rem;
    /*margin-bottom: .3em;*/
    margin-top: 0;  
    text-transform: uppercase;
    margin-bottom: 0;
   
}  

.hero-subtitle {
    font-family: 'Montserrat', sans-serif;
    order: -1;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

   
 
}

.hero-info {
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.5em;
    
   
}


.hero-btn,
.pdt-btn,
.login-btn,
.register-btn,
.admin-reg-btn {
    background-color: #d97c48;
    align-self: flex-start;
    width: 40%;
    padding: 1em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: #d97c48;
    letter-spacing: 3px;

}

/* Featured products*/
.section-title {
    text-align: center;
    font-family: 'Afacad', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
  
     
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.featured-pdt,
.featured-px,
.pdt-btn-form {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.featured-pdt {
    margin-bottom: .5em;
}

.featured-px {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: .5em;
}

.pdt-btn {
    width: 50%;
    min-width: fit-content;
    font-size: 0.8rem;
    padding: .8em;
   
}


/* Login page */



.login-title {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 3rem;
    color: #d97c48;
    /*border: solid black;*/
    margin-bottom: 0;
    padding: 0;
}

.login-subtitle,
.password-reset,
.register-title {
    font-size: .8rem;
    color: #000;
    font-family:'Montserrat', sans-serif;
    /*border: solid black;*/
    margin-top: 0;
}

.register-title {
    text-transform: uppercase;
    margin-top: 2em;
}

.password-reset {
    margin-top: -1em;
    margin-bottom: .5em;
}

.login-form-item,
.admin-reg-form-input {
    margin-bottom: 1.5em;
    padding: 1em;
   
}

.admin-reg-form {
    & ::placeholder{
        text-transform: capitalize;
    }
}

.login-btn,
.register-btn,
.admin-reg-btn {
  width: fit-content;
}
/* =================
    Layout
    ================ */ 
/* General */   
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(90%, 1fr) minmax(1em,1fr);
    /*background-image: linear-gradient(45deg, #a68ad9, #c994cc , #f6aac1);*/
    background-color: #000;
    height: 70vh;
    /*border: solid blue;*/
}   

/* Header */    
.header {
    background-color: #000;
    /*border: solid red;*/
    /*margin-bottom: 0;*/

 
}

.logo {
    width: 250px;
    /*border: solid white;*/
}

.nav-list {
    display: flex;
    /*border: solid white;*/
    margin-top: 0.6em;
    justify-content: center;



    & li {
        list-style: none;
        margin: 1em;

        & a {
            color: #fff;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 3px;
            /*border: solid green;*/
           
        }
    }
}

.user {
    display: flex;
    /*border: solid white;*/
    justify-content: flex-end;
    align-items: center;
 

}

.user-icon {
 background-color: black;
 color: #fff;
 border: none;
 font-size: 1.5rem;
 margin-left: 1em;

}


/* Hero section */
.hero {
    height: fit-content;
    color: #fff;
    margin-bottom: 5em;
    /*border: solid green;*/
}

.hero-txt{
    grid-column: 2;
    display: flex;
    flex-direction: column;    
    /*border: solid red;*/
    justify-content: center;
    align-self: center;
    margin-bottom: 3em;

    & * {
        /*border: solid red;*/
      
    }
}

.hero-img {
    grid-column: 2;
    /*border: solid white;*/
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
   

    & img {
        height: 80vh;
        width: 100%;
          
        object-fit:contain;       
        /*border: solid red;*/
        margin: 0;
        padding: 0;


    }


}





/* Featured products */

.featured {
    margin-bottom: 3em;
}


.featured-pdts-grid,
.category-grid,
.add-on-grid {
    display: grid;
    grid-template-columns: minmax(2em,1fr) repeat(3,minmax(25%,1fr)) minmax(2em,1fr);
    gap: 1em;
   
}

.featured-pdts,
.category-col,
.add-on {
    grid-column: span 1;
    margin-bottom: 1.5em;
    /*border: solid black;*/
}

.featured-pdts:nth-child(3n+1),
.category-col:nth-child(3n+1),
.add-on:nth-child(3n+1) {
    grid-column: 2 / span 1;
}

.featured-pdts-img{
    /*border: solid red; */
    text-align: center;
    background-color: #ece8e86a;


    & img{
        width: 80%;
        
    }
}

.category-grid {
    margin-top: 5em;
}

.category-col {
    /*border: solid red;*/
    background-color: #ece8e8b4;


}

.category-img {
    /*border: solid black;*/
    text-align: center;
    height: 18vh;
    min-height: fit-content;
   


    & img {
        width: 50%;
        filter: brightness(120%);
        filter: contrast(120%);
        filter: drop-shadow(0 15px 5px #3d3b3b);
        position: relative;
        top: -60%;
        margin-bottom: 0;
    }
}

.category-txt {
    /*border: solid red;*/

}

.category-name,
.category-form {
    text-align: center;
    
  
}

.category-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0;
}

.brands {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 5em;
}

.brand {
    height: 100px;
    width: 100px;
    /*border: solid black;*/
    margin-left: 3em;
}

.dell-logo {
    width: 150px;
}

/* Add ons */

.add-on-grid {
  gap: 0;
}

.add-on {
    display: flex;
    flex-direction: column;
    padding: 2em;
    text-align: center;
}



.main-container {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(25%,1fr) minmax(65%,1fr) minmax(1em,1fr);
   grid-template-areas: ". aside main .";
}

.aside {
    grid-area: aside;
    /*border: solid black;*/
  
}

.main-sections {
    grid-area: main;
    /*border: solid black;*/

}

/* Login page */
.login-grid,
.admin-reg-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr)  minmax(90%, 1fr) minmax(1em, 1fr);
    /*border: solid yellow;*/
   
}

.login-img,
.admin-reg-img {
    display: none;
}



.login-info,
.admin-reg-info {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    align-items: self-start;
    grid-column: 2;
}


.login-logo {
    height: 100px;

}

.admin-login-logo {
    height: 80px;
}



.login-form,
.admin-reg-form {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

/* Admin login */


/* Inventory dashboard */
.admin-dashboard-grid {
    display: grid;
    grid-template-columns: minmax(1em,1fr) minmax(90%,1fr) minmax(1em,1fr);
}

.admin-nav-section,
.admin-mgt-sections {
    grid-column: 2;
    border: solid black;
}

.admin-nav-section {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.admin-nav {
    display: flex;
    flex-direction: column;
    border: solid red;
    padding: 0;
    
}



.footer {
    background-color: #ebebeb; 
    
}


/* ================
    Media-Queries
    =============== */
@media (min-width:600px) {

    /* Typograpgy */
    /* Login-page*/

    .login-title {
        font-family: 'Source Sans 3', sans-serif;
        font-size: 2rem;
    }

    /* Layout */

    .nav-grid {
        display:grid;
        grid-template-columns: minmax(1em,1fr) minmax(20%,1fr) minmax(50%,1fr) minmax(20%,1fr) minmax(1em,1fr);
    }

    .logo {
        grid-column: 2;

    }

    .nav {
        grid-column: 3;
        
    }

    .user {
        grid-column: 4;
    }

    .main-grid {
       grid-template-columns: minmax(1em, 1fr) repeat(2,minmax(45%,1fr)) minmax(1em,1fr);
    }
   

    .hero-txt {
        grid-column: 2 ;
    }

    .hero-img {
        grid-column: 3 ;
    }

    /* Login page */

    .login-grid,
    .admin-reg-grid {
        grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(40%, 1fr)) minmax(2em, 1fr);
        /*border: solid yellow;*/
       
    }

    .login-img,
    .admin-reg-img {
        display: block;
        height: 100vh;
        width: 100%;
         /*border: solid black;*/
         & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            
         }
    
    }

    .login-img {
        grid-column: 2;
    }

    admin-reg-img {
        grid-column: 3;
    }

    .admin-reg-info {
        grid-column: 2;
    }

    .login-info {
        grid-column: 3;
    }

    .admin-dashboard-grid {
        grid-template-columns: minmax(.5em,1fr) minmax(20%,1fr) minmax(75%,1fr) minmax(.5em,1fr);
    }
    
    .nav-section {
        grid-column: 2;
    }

    .admin-mgt-sections {
        grid-column: 3;
    }

}    