{% extends "layout.html" %}

{% block body %}

<section class="hero main-grid">
    <div class="hero-txt">
        <h1 class="main-title">HP Spectre laptop</h1>
       <h2 class="hero-subtitle">Enjoy the best deals</h2>
       <p class="hero-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias reiciendis ipsam, aut maxime soluta exercitationem nihil placeat dolor ratione quo fuga?</p>
       <button class="hero-btn">view product</button>

    </div>
    <figure class="hero-img">
       <img src="../static/Images/HP_Spectre_1-removebg.png" alt="" >
        
    </figure>
</section>

<section class="featured">
    <h2 class="section-title">Featured products</h2>
    <div class="featured-pdts-grid">
        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>

        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>

        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>

        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>

        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>

        <div class="featured-pdts">
            <div class="featured-pdts-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="" >
            </div>
            <div class="featured-pdts-txt">
                <p class="featured-pdt">Dell XPS 13 9305 </p>
                <p class="featured-px"> UGX 5,000,000</p>
                <form class="pdt-btn-form">
                    <button class="pdt-btn">view product</button>
                </form>
            </div>

        </div>
        

    </div>


</section>

<section class="pdt-categories">
    <h2 class="section-title">Shop by category</h2>
    <div class="category-grid">
        <div class="category-col">
            <div class="category-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="">
            </div>
            <div class="category-txt">
                <p class="category-name">Laptops</p>
                <form action="" class="category-form">
                    <button class="category-btn">Shop</button>
                </form>

            </div>
        </div>

        <div class="category-col">
            <div class="category-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="">
            </div>
            <div class="category-txt">
                <p class="category-name">Laptops</p>
                <form action="" class="category-form">
                    <button  class="category-btn">Shop</button>
                </form>

            </div>
        </div>

        <div class="category-col">
            <div class="category-img">
                <img src="../static/Images/DELL-XPS-13-9305-removebg-preview.png" alt="">
            </div>
            <div class="category-txt">
                <p class="category-name">Laptops</p>
                <form action="" class="category-form">
                    <button class="category-btn">Shop</button>
                </form>

            </div>
        </div>

    </div>
</section>

<section class="brands">
    <img src="../static/Images/Logos/dell-png-logo-3746.png" alt="" class="brand dell-logo">

    <img src="../static/Images/Logos/HP_Hewlett-Packard_logo.png" alt=""  class="brand">

    <img src="../static/Images/Logos/JBL Harman.png" alt=""  class="brand">

    <img src="../static/Images/Logos/png-apple-logo-9708.png" alt=""  class="brand">

    
    
</section>

<section class="add-ons add-on-grid">
    <div class="add-on">
        <i class="fa-solid fa-store add-on-icon"></i>
        <h3 class="add-on-title">Great Store</h3>
        <p>We have it all</p>
    </div>

    <div class="add-on">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <h3 class="add-on-title">Affordable prices</h3>
        <p>We have it all</p>
    </div>

    <div class="add-on">
        <i class="fa-solid fa-shop-lock"></i>
        <h3 class="add-on-title">Safe shopping</h3>
        <p>We have it all</p>
    </div>

    
</section>




{% endblock %}