{% extends "layout.html" %}

{% block body %}

<main class="admin-reg-grid">
    <div class="admin-reg-info">
        <h1> Inventory Management Portal </h1>
        <h2> Create Admin Profile </h2>
        <form action="" class="admin-reg-form">
            <input type="text" name="" id="" placeholder="name" class="admin-reg-form-input">
            <input type="text" name="" id="" placeholder="email" class="admin-reg-form-input">
            <input type="text" placeholder="password" class="admin-reg-form-input">
            <input type="text" placeholder="Verify Password" class="admin-reg-form-input">
            <button class="admin-reg-btn">Create account</button>
        </form>
        

    </div>

    <div class="admin-reg-img">
        <img src="../static/Images/Admin register.png" alt="">
    </div>
    

</main>
    




{% endblock %}