{% extends "layout.html" %}

{% block body %}
<section class="login_body login-grid">
    <div class="login-img">
        <img src="../static/Images/Untitled design.png" alt="" >

    </div>
    <div class="login-info">
        <img src="../static/Images/LOGO/LAPTOPS & EXTRA (3).png" alt="" class="admin-login-logo">
        <h1 class="login-title">Inventory Management Portal </h1>
        <h2 class="login-txt"> Log in </h2>
        <p class="login-subtitle">Please fill your information below</p>
        <form action="/admin_login" class="login-form" >
            <input type="text" name="admin_name" id="" placeholder="Email" class="login-form-item">
            <input type="text" name="admin_pwd" id="" placeholder="Password" class="login-form-item">
            <a href="" class="password-reset">Forgot password</a>
            <button class="login-btn">Sign in</button>
           
        </form>

        <h2 class="register-title">New here</h2>
        <form action="/admin_registration">
            <button class="register-btn">Create an account</button>
            
        </form>


    </div>

</section>


{% endblock %}