{% extends "layout.html" %}

{% block body %}
<main class="add-products"> 
 

    <h2>Add a product category </h2>
    <form action="/add_product_category" method="POST" class="add-pdtcategory-form">
        <input placeholder="Product Category" name="category" autofocus autocomplete="off" type="text">
        <input placeholder="Sub-category " name="subcategory" autofocus autocomplete="off" type="text">
        <button type="submit">Add category</button>
    </form>

    <section class="pdt-categories-section">
        <h2>Product Categories</h2>
     
        <table class="pdt-category-table">
            <thead>
                <tr>
                    <th>Product Category</th>
                    <th>Product subcategory</th>
                </tr>
            </thead>
            <tbody>
                {% for category, items in categories|groupby('pdt_category') %}
                    {% for item in items %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ items|length }}"> {{ category }}</td>
                            {% endif %}
                            <td> {{ item.pdt_subcategory }} </td>
                            <td class="button-cell">
                                <form action="/edit_pdt_category" method="post">
                                    <input name="id" type="hidden" value = "{{ item.id }}">
                                    <button type="submit" class="edit-button">Edit</button>
                                </form>
                            </td>
                            <td class="button-cell">
                                <form action="/delete_pdt_category" method="post">
                                    <input name="id" type="hidden" value = "{{ item.id }}">
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </td>
                                        
                        </tr>
                    {% endfor %}
                {% endfor %}
               
            </tbody>
        </table>

        <table class="totals-table">
            <tr>
                <td>Total</td>
                <td>{{ total_categories[0]['category_total'] }} categories</td>
                <td>{{ total_subcategories[0]['subcategory_total'] }} subcategories</td>
                             
            </tr>
        </table>
    </section>
    
</main>
{% endblock %}