{% extends "layout.html" %}

{% block body %}
<main class="admin-dashboard-grid">
    <section class="admin-nav-section">
        <img src="../static/Images/LOGO/LAPTOPS & EXTRA (3).png" alt="" class="admin-login-logo">
        <h2> Dashboard</h2>
        <p>Hullo</p>
        <ul class="admin-nav-list">
            <li class="nav-item"><a href="">Purchase orders</a></li>
            <li class="nav-item"><a href="">Inventory</a></li>
            <li class="nav-item"><a href="">Sales reports</a></li>
            <form action="/products">
                <button class="nav-item">Products List</button>
            </form>

         
            

        </ul>

    </section>

    
    

</main>





{% endblock %}